{{ $img := .img }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $lazy := .lazy }}
{{ $caption := .title }}
{{ $setwidths := .setwidths }}

{{/* SET DEFAULTS */}}
{{- $respSizes := slice "1200" "1600" -}}
{{- $defaultSize := "800" -}}
{{- $dataSzes := "60vw" -}}
{{- $resizeCmd := "800x jpg Lanczos" -}}
{{- $pictureClass := "lightense-wrap" -}}
{{- $imgClass := "lazy responsive" -}}

{{- if $setwidths  -}}
  {{- $respSizes =  $setwidths -}}
  {{- $defaultSize = index $respSizes 0 -}}
{{- end -}}

{{ $resizeCmd = printf "%sx jpg q75 CatmullRom" $defaultSize }}

{{ if .pictureClass }}
  {{ $pictureClass = .pictureClass }}
{{ end }}

{{- with $src := resources.Get ($img) -}}
  {{- $actualImg := $src.Resize $resizeCmd -}}
  <picture class={{$pictureClass}}>
    <source
      type="image/webp"
      data-srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
          {{- if ge $src.Width . -}}
            {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " q85 CatmullRom webp") ).RelPermalink }} {{ . }}w
          {{- end -}}
        {{- end -}}
      {{- end -}}"
      sizes="{{ $dataSzes }}"
    />
    <source
      type="image/jpeg"
      data-srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
            {{- if ge $src.Width . -}}
              {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " q75 CatmullRom jpg") ).RelPermalink }} {{ . }}w
            {{- end -}}
        {{- end -}}
      {{- end -}}"\
      sizes="{{ $dataSzes }}"
    />
    <img class="{{ $imgClass }}"
      src="{{ $actualImg.RelPermalink }}"
      width="{{ $actualImg.Width }}"
      height="{{ $actualImg.Height }}"
      alt="{{ $alt }}"
      title="{{ .Title }}"
    />
  </picture>
{{- else -}}
<img extra="MISSINGIMAGE" loading="lazy" src="{{ $img | safeURL }}"
  {{- with .Text }} alt="{{ . }}"{{ end -}}
  {{- with .Title }} title="{{ . }}"{{ end -}}
>
{{- end -}}





