{{ $img := .img }}
{{ $alt := .alt }}
{{ $class := .class }}
{{ $lazy := .lazy }}
{{ $caption := .title }}
{{ $setwidths := .setwidths }}

{{- $respSizes := slice "800" "1600" -}}
{{- $defaultSize := "640" -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
{{- $resizeCmd := "640x jpg Lanczos" -}}

{{- if $setwidths  -}}
  {{- $respSizes =  $setwidths -}}
  {{- $defaultSize = index $respSizes 0 -}}
{{- end -}}

{{ $resizeCmd = printf "%sx jpg q75 CatmullRom" $defaultSize }}


{{- $divClass := "" -}}{{/* Init'g */}}
{{- $imgClass := "lazy responsive" -}}

{{- with $src := resources.Get ($img) -}}
  {{- $actualImg := $src.Resize $resizeCmd -}}
  <picture>
    <source
      type="image/webp"
      data-srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
          {{- if ge $src.Width . -}}
            {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " webp") ).RelPermalink }} {{ . }}w
          {{- end -}}
        {{- end -}}
      {{- end -}}"
      data-sizes="{{ $dataSzes }}"
    />
    <source
      type="image/jpeg"
      data-srcset="
        {{- with $respSizes -}}
          {{- range $i, $e := . -}}
            {{- if ge $src.Width . -}}
              {{- if $i }}, {{ end -}}{{- ($src.Resize (printf "%sx%s" . " jpg") ).RelPermalink }} {{ . }}w
            {{- end -}}
        {{- end -}}
      {{- end -}}"\
      data-sizes="{{ $dataSzes }}"
    />
    <img class="{{ $imgClass }}"
      src="{{ $actualImg.RelPermalink }}"
      width="{{ $actualImg.Width }}"
      height="{{ $actualImg.Height }}"
      alt="{{ $alt }}"
      title="{{ .Title }}"
    />
  </picture>
{{- else -}}
<img extra="MISSINGIMAGE" src="{{ .Destination | safeURL }}"
  {{- with .Text }} alt="{{ . }}"{{ end -}}
  {{- with .Title }} title="{{ . }}"{{ end -}}
>
{{- end -}}





